.list.svelte-kg6q4k{text-align:left}.stealth.svelte-kg6q4k{color:white}.gradient.svelte-kg6q4k{background-image:linear-gradient(
            55deg,
            #ff486e,
            #cd45f3 25%,
            #7f54f6 35%,
            #1668f9 45%,
            #1b81ec 65%,
            #22a3da 75%,
            #17b4a1
        );opacity:0.75;background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent;font-weight:900}